{% extends "bases.html" %}
{% block title %} Welcome | {{ block.super }} {% endblock %}
{% block jumbotron_content %} 
<!-- Main component for a primary marketing message or call to action -->
     	<h1>Mon projet </h1>
        <p>blablbablbalbalabla</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>

{% endblock %}  

{% block content %}  

<h1>{{title}}</h1>
{{user}}
{{request.user}}

<form method='POST' action =''> <!-- Method POST for sending data -->
{% csrf_token%} <!-- no error 403 -->
<!-- {{form}} --> 
{{form.as_p}} <!-- looks better -->
<input type="submit" value="Sign Up">

</form>
{% endblock %}